body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.container {
  width: 80%;
  margin: 5% auto;
}

.navbar {
  z-index: 5;
  background: #7A57D1;
  width: 100%;
  padding: 0 9%;
}

.navbar .navbar-section {
  padding: 10px;
}

.navbar .navbar-section a {
  color: #FFF;
}

.navbar .navbar-section a:hover {
  color: #FAFAFA;
}

.navbar .navbar-section .ad-link {
  color: #FFF;
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
  padding-left: 16px;
  padding-right: 16px;
}

.user-plc:hover {
  text-decoration: none;
}

.navbar .navbar-section .chip {
  background: transparent;
  color: #FFF;
}

.navbar .navbar-section .chip:hover {}

.hero-section {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #7A57D1;
  z-index: 1;
  margin-top: 56px;
}

.intro-text {
  color: #FFF;
  width: 40%;
  font-size: 60px;
  font-family: 'Roboto slab';
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 5%;
}

.redirect-link {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 400;
  transition: .3s all;
}

.redirect-link:hover {
  color: #FFF;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
}

.blub {
  border-radius: 3px;
  background: #FAFAFA;
  border: 1px solid #d1d1d1;
  padding: 10px;
  word-wrap: break-word;
  margin: 30px auto;
  width: 80%
}

.task-body {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #7A57D1;
  z-index: 1;
  margin-top: 56px;
}

.task-holder {
  width: 99%;
  height: 300px;
  background: rgba(255, 255, 255, .2);
  margin: auto;
  margin-bottom: 3px;
  transition: background .3s ease-in-out;
}

.task-holder:hover {
  background: rgba(255, 255, 255, .5);
}

.divider-pushRight {
  margin-left: 5%
}

.alt-login {
  padding: 10px 15px;
  border-radius: 0px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto 10px auto;
  width: 70%;
  font-weight: 500;
  transition: 0.3s all;
}

.alt-login:hover {
  text-decoration: none;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  color: #FFF;
}

.alt-login i {
  margin-right: 20%;
}

.gl-bg {
  background: rgba(255, 0, 0, .6);
  color: #FFF;
  transition: 0.3s all;
}

.fb-bg {
  background: rgba(0, 0, 255, .6);
  color: #FFF;
  transition: 0.3s all;
}

.content-section {
  margin-top: 80vh;
  position: absolute;
  width: 100%;
  padding: 30px 0;
  z-index: 3
}

.header-six {
  font-weight: 300;
  font-family: 'Roboto Slab';
  font-size: .8rem;
  line-height: 2rem;
}

.header-five {
  font-weight: 300;
  font-family: 'Roboto Slab';
  font-size: 1rem;
  line-height: 2rem;
}

.header-four {
  font-family: 'Roboto slab';
  font-weight: 300;
  font-size: 1.5rem;
}

.header-three {
  font-size: 2rem;
  font-family: 'Roboto slab';
  font-weight: 300;
}

.header-two {
  font-size: 2.2rem;
  font-family: 'Roboto slab';
  font-weight: 300;
}

.main-color {
  color: #7A57D1;
}

.strong {
  font-weight: 700;
}

.big-txt {
  font-size: 60px;
  font-family: 'Roboto slab';
  font-weight: 300;
  letter-spacing: 2px;
}

.sub-header-- {
  width: 40%;
  font-size: 14px;
}

.block-img {
  /* background: #f1f1fb;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .2); */
  width: 100%;
  margin: auto;
  height: 300px;
  text-align: center;
}

.block-img img {
  width: 200px;
}

.empty-state-msg {
  margin-top: -7%;
}

.empty-state-msg p {
  font-family: 'Roboto Slab';
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .3);
  line-height: 1rem;
}

.empty-state-msg small {
  font-family: 'Roboto Slab';
  font-size: .7rem;
  font-weight: 900;
  color: rgba(0, 0, 0, .3);
}

.sml-display {
  width: 30px;
}

.sm-display {
  width: 15px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.hovering {
  -moz-animation: bounce 6s infinite;
  -webkit-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
}

.bg {
  -webkit-clip-path: circle(32.5% at 93% 45%);
  clip-path: circle(32.5% at 93% 45%);
  background: #F54EA2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bg2 {
  -webkit-clip-path: circle(9.8% at 66% 28%);
  clip-path: circle(9.8% at 66% 28%);
  background: #A94CAF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bg3 {
  -webkit-clip-path: polygon(0% 0%, 25% 0, 50% 49%, 28% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 25% 0, 50% 49%, 28% 100%, 0% 100%);
  background: #F8F8F8;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  margin-top: 83%;
}

.pushdwn {
  margin-top: 7%;
  justify-content: center;
  align-items: center;
}

/* tabs */

.tab-section {
  min-width: 330px !important;
  max-width: 330px !important;
  margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 80%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.tabs>li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #707070;
  font-family: 'Roboto Slab';
}

.tabs>li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 0;
}

.tabs>li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}

.tabs>li.active {
  color: #50555a;
}

.tabs>li.active:before {
  transition-duration: .5s;
  background-color: #F8F8F8;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: #F8F8F8;
  position: relative;
  width: 80%;
  border-radius: 0;
  margin-top: -2%;
}

.tab__content>li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}

.tab__content>li .content__wrapper {
  /* text-align: center; */
  border-radius: 0;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: #F8F8F8;
  box-shadow: 0px 15px 10px -15px #111;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}

.form-input {
  border: none;
  border-radius: 3px;
  padding: 20px 15px;
  outline: none;
  font-weight: 400;
}

.form-input:focus {
  border-color: #caced7;
  box-shadow: none;
}

.custom-btn {
  background: #7A57D1;
  color: #FFF;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.bar-item {
  background: lightgreen !important;
}

.edit-icon {
  color: #FFF;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  font-size: 12px;
  margin: 7px 10px 10px 10px;
  font-family: 'Roboto';
  font-weight: 400;
  position: absolute;
  border-radius: 3px;
}

.edit-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
  text-decoration: none;
}

footer {
  /* background: #F9F9F9; */
}

footer .wrap {
  max-width: 1100px;
  padding: 2rem;
  margin: 0 auto;
  position: relative;
}

footer .about {
  width: 60%;
  float: left;
  padding-right: 5rem;
  text-align: center;
  font-size: .9rem;
}

footer .column a {
  color: #2A98ED;
  padding: .2rem 0;
}

footer .column .indicator:before {
  /*position: absolute;*/
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 5px 0;
  border-color: transparent #007bff transparent transparent;
  margin-left: -15px;
  margin-top: 7px;
  z-index: 11;
}

footer a .desc {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 2;
  padding: 2rem;
  padding-right: 5rem;
  color: #555;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

footer a:before {}

footer a:hover {
  background: #2A98ED;
  color: #fff !important;
  padding-left: 1rem;
  transition: padding .3s ease-in-out;
}

footer a .desc img {
  display: block;
  margin: 0 auto;
  padding: .5rem;
  margin-bottom: 1rem;
}

footer .column a:visited {
  color: #2A98ED;
}

footer .column a:hover .desc {
  visibility: visible;
  opacity: 1;
}

footer .about img {
  max-height: 100px;
  margin-bottom: 1rem;
}

footer .column {
  width: 20%;
  float: left;
  /*border-left: 1px solid #E5E5E5;*/
  padding: 1rem;
  padding-left: .5rem;
}

footer .column a {
  display: block;
}

footer .column h4 {
  margin-bottom: 1rem;
}

footer .copy {
  display: block;
  border-top: 1px solid #E4E4E4;
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem 2rem;
  text-align: center;
}
