
.dot {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #7A57D1;
  border: 1px solid #4316B0;
  border-radius: 7px;
  cursor: default;
  outline: none;
}

.dot1 {
  left: 422px;
  top: 34px;
}

.dot2 {
  left: 463px;
  top: 71px;
}

.dot3 {
  left: 421px;
  top: 93px;
}

.dot4 {
  left: 465px;
  top: 124px;
}

.dot5 {
  left: 465px;
  top: 156px;
}

.dot6 {
  left: 472px;
  top: 195px;
}

.dot7 {
  left: 491px;
  top: 224px;
}

.dot8 {
  left: 488px;
  top: 262px;
}

.dot9 {
  left: 487px;
  top: 299px;
}

.dot10 {
  left: 463px;
  top: 333px;
}

.dot11 {
  left: 432px;
  top: 367px;
}

.dot12 {
  left: 433px;
  top: 395px;
}

.dot13 {
  left: 407px;
  top: 422px;
}

.dot14 {
  left: 405px;
  top: 452px;
}

.dot15 {
  left: 220px;
  top: 88px;
}

.dot16 {
  left: 194px;
  top: 118px;
}

.dot17 {
  left: 182px;
  top: 158px;
}

.dot18 {
  left: 182px;
  top: 190px;
}

.dot19 {
  left: 183px;
  top: 224px;
}

.dot20 {
  left: 204px;
  top: 259px;
}

.sampleTaskNavbar {
  background: #FFF;
}

.sampleTask-Navbar .navbar-section a {
  color: #d0d0d0;
}

.sampleTaskNavbar .navbar-section a.bck-link {
  background: #d1d1d1;
  color: #777;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
}

.sampleTaskNavbar .navbar-section a.bck-link:hover {
  text-decoration: none;
}

.txt-center {
  text-align: center;
}

.--task-title {
  padding: 40px 20px;
}

.drag-sec {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.chip {
  padding: 5px 10px;
  background: #7A57D1;
  color: #FFF;
  font-size: 12px;
  margin-bottom: -20px;
}

.skl {
  /* border: black solid 1px; */
  position: relative;
  width: 755px;
  height: 478px;
}

.skl img {
  width: 100%;
}

.hiddenGuy {
  color: white;
}

.h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.pdot {
  color: #7A57D1
}

.label {
  padding: 5px 10px;
  background: #7A57D1;
  color: #FFF;
  font-size: 12px;
  margin-bottom: -20px;
  align-items: center;
  border-radius: 5rem;
  display: inline-flex;
  height: 1.2rem;
  line-height: .8rem;
  margin: .1rem;
  text-decoration: none;
  vertical-align: middle;
}

.congrat {
  width: 27%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  top: 25%;
  left: 643px;
}

/* .congrat h3 {
  text-align: center;
} */
